In [5]:
import os
import glob
from Bio import Phylo

In [10]:
folder_path = "/Users/gc3045/laml2_experiments/BaseMEM_Magic/Magic/Figures3_5_and_SupFigures2_4-6/lineage_analysis/BEAST_analysis/Trial4"
tree_files = glob.glob(os.path.join(folder_path, "bigmem*.tree"))

tree_objs = []
for f in tree_files:
    print(os.path.basename(f))
    tree_obj = Phylo.read(f, "nexus")
    tree_objs.append(tree_obj)

bigmem_test_all_trees_plus_space_geo-p910_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p6_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p2_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p3_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p4_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p78_barcs.trees.tree
bigmem_test_all_trees_plus_space_geo-p5_barcs.trees.tree

In [11]:
Phylo.write(tree_objs, "baseMemoir_all.nwk", "newick")

7

In [12]:
tree_objs[0].

Tree(name='TREE1', rooted=False, weight=1.0)

Remap the taxa in the tree object according to the mapping at the beginning

In [13]:
nwk_file = "/Users/gc3045/laml2_experiments/proc_realdata/baseMemoir_all_topo_renamed.nwk"

from treeswift import *
# read in the trees, extract all the cell names
trees = read_tree_newick(nwk_file)

In [16]:
all_leaves = set()
for tree in trees:
    for leaf in tree.traverse_leaves():
        all_leaves.add(leaf.label)

In [20]:
import pandas as pd
tmp_df = pd.read_csv('/Users/gc3045/laml2_experiments/proc_realdata/baseMemoir/baseMemoir.msa.txt')

In [24]:
cell_names = set(tmp_df['cell_names'])

In [ ]:
(((((pos6_cell1,pos6_cell17),pos6_cell10),pos6_cell12),((pos6_cell11,pos6_cell16),pos6_cell13)),((((pos6_cell14,pos6_cell3),(pos6_cell2,pos6_cell7)),pos6_cell4),((pos6_cell5,pos6_cell8),(pos6_cell6,pos6_cell9))));

In [30]:
for leaf in all_leaves:
    if leaf not in cell_names:
        pos, cell = leaf.split('_')
        renamed_leaf = ''
        if pos == "pos78":
            renamed_leaf1 = "pos7_" + cell
            renamed_leaf2 = "pos8_" + cell
            if renamed_leaf1 not in cell_names and renamed_leaf2 not in cell_names:
                pass # prune these leaves
            else:
                if renamed_leaf1 in cell_names:
                    print("rename", leaf, "to", renamed_leaf1)
                elif renamed_leaf2 in cell_names:
                    print("rename", leaf, "to", renamed_leaf2)
        elif pos == "pos910":
            renamed_leaf1 = "pos9_" + cell
            renamed_leaf2 = "pos10_" + cell
            if renamed_leaf1 not in cell_names and renamed_leaf2 not in cell_names:
                pass # prune these leaves
            else:
                if renamed_leaf1 in cell_names:
                    print("rename", leaf, "to", renamed_leaf1)
                elif renamed_leaf2 in cell_names:
                    print("rename", leaf, "to", renamed_leaf2)

rename pos78_cell49 to pos7_cell49
rename pos78_cell68 to pos7_cell68
rename pos910_cell42 to pos9_cell42
rename pos910_cell20 to pos9_cell20
rename pos78_cell73 to pos7_cell73
rename pos78_cell6 to pos7_cell6
rename pos78_cell40 to pos7_cell40
rename pos910_cell50 to pos9_cell50
rename pos910_cell9 to pos9_cell9
rename pos910_cell25 to pos9_cell25
rename pos910_cell15 to pos9_cell15
rename pos910_cell1 to pos10_cell1
rename pos78_cell21 to pos7_cell21
rename pos910_cell22 to pos9_cell22
rename pos78_cell24 to pos7_cell24
rename pos78_cell9 to pos7_cell9
rename pos78_cell37 to pos7_cell37
rename pos78_cell56 to pos7_cell56
rename pos78_cell50 to pos7_cell50
rename pos78_cell39 to pos7_cell39
rename pos910_cell46 to pos9_cell46
rename pos910_cell33 to pos9_cell33
rename pos910_cell19 to pos9_cell19
rename pos78_cell31 to pos7_cell31
rename pos910_cell30 to pos9_cell30
rename pos910_cell37 to pos9_cell37
rename pos910_cell35 to pos9_cell35
rename pos78_cell65 to pos7_cell65
rename pos78_cell62 to pos7_cell62
rename pos910_cell31 to pos9_cell31
rename pos910_cell48 to pos9_cell48
rename pos910_cell21 to pos9_cell21
rename pos78_cell8 to pos7_cell8
rename pos910_cell49 to pos9_cell49
rename pos78_cell46 to pos7_cell46
rename pos910_cell40 to pos9_cell40
rename pos78_cell4 to pos7_cell4
rename pos78_cell43 to pos7_cell43
rename pos910_cell47 to pos9_cell47
rename pos78_cell20 to pos7_cell20
rename pos78_cell64 to pos7_cell64
rename pos910_cell34 to pos9_cell34
rename pos910_cell28 to pos9_cell28
rename pos910_cell43 to pos9_cell43
rename pos78_cell54 to pos7_cell54
rename pos910_cell12 to pos9_cell12
rename pos78_cell58 to pos7_cell58
rename pos78_cell69 to pos7_cell69
rename pos910_cell32 to pos9_cell32
rename pos78_cell53 to pos8_cell53
rename pos910_cell18 to pos9_cell18
rename pos910_cell14 to pos9_cell14
rename pos910_cell44 to pos9_cell44
rename pos78_cell41 to pos7_cell41
rename pos78_cell34 to pos7_cell34
rename pos78_cell72 to pos7_cell72
rename pos78_cell18 to pos7_cell18
rename pos910_cell17 to pos9_cell17
rename pos910_cell39 to pos9_cell39
rename pos78_cell55 to pos7_cell55
rename pos78_cell74 to pos7_cell74
rename pos78_cell5 to pos7_cell5
rename pos78_cell51 to pos7_cell51
rename pos78_cell10 to pos7_cell10
rename pos78_cell3 to pos7_cell3
rename pos78_cell25 to pos7_cell25
rename pos910_cell45 to pos9_cell45
rename pos910_cell26 to pos9_cell26
rename pos910_cell23 to pos9_cell23
rename pos78_cell48 to pos7_cell48
rename pos910_cell29 to pos9_cell29
rename pos78_cell11 to pos7_cell11
rename pos910_cell38 to pos9_cell38
rename pos910_cell24 to pos9_cell24

In [28]:
# are there cells in the msa that aren't in the tree?
cell_names - all_leaves

{'pos0_cell10',
 'pos0_cell11',
 'pos0_cell12',
 'pos0_cell13',
 'pos0_cell14',
 'pos0_cell15',
 'pos0_cell16',
 'pos0_cell17',
 'pos0_cell18',
 'pos0_cell19',
 'pos0_cell20',
 'pos0_cell21',
 'pos0_cell22',
 'pos0_cell23',
 'pos0_cell24',
 'pos0_cell25',
 'pos0_cell26',
 'pos0_cell27',
 'pos0_cell28',
 'pos0_cell29',
 'pos0_cell3',
 'pos0_cell30',
 'pos0_cell31',
 'pos0_cell32',
 'pos0_cell33',
 'pos0_cell34',
 'pos0_cell35',
 'pos0_cell4',
 'pos0_cell5',
 'pos0_cell6',
 'pos0_cell7',
 'pos0_cell8',
 'pos0_cell9',
 'pos10_cell1',
 'pos10_cell10',
 'pos10_cell11',
 'pos10_cell12',
 'pos10_cell13',
 'pos10_cell14',
 'pos10_cell15',
 'pos10_cell16',
 'pos10_cell17',
 'pos10_cell18',
 'pos10_cell19',
 'pos10_cell2',
 'pos10_cell20',
 'pos10_cell21',
 'pos10_cell22',
 'pos10_cell23',
 'pos10_cell24',
 'pos10_cell25',
 'pos10_cell26',
 'pos10_cell27',
 'pos10_cell28',
 'pos10_cell29',
 'pos10_cell3',
 'pos10_cell30',
 'pos10_cell31',
 'pos10_cell32',
 'pos10_cell33',
 'pos10_cell34',
 'pos10_cell35',
 'pos10_cell36',
 'pos10_cell37',
 'pos10_cell38',
 'pos10_cell39',
 'pos10_cell4',
 'pos10_cell40',
 'pos10_cell5',
 'pos10_cell6',
 'pos10_cell7',
 'pos10_cell8',
 'pos10_cell9',
 'pos1_cell1',
 'pos1_cell10',
 'pos1_cell11',
 'pos1_cell12',
 'pos1_cell13',
 'pos1_cell14',
 'pos1_cell15',
 'pos1_cell16',
 'pos1_cell17',
 'pos1_cell18',
 'pos1_cell19',
 'pos1_cell2',
 'pos1_cell20',
 'pos1_cell21',
 'pos1_cell23',
 'pos1_cell3',
 'pos1_cell4',
 'pos1_cell5',
 'pos1_cell6',
 'pos1_cell7',
 'pos1_cell8',
 'pos1_cell9',
 'pos2_cell19',
 'pos2_cell2',
 'pos2_cell21',
 'pos2_cell22',
 'pos2_cell7',
 'pos3_cell8',
 'pos4_cell18',
 'pos4_cell2',
 'pos4_cell20',
 'pos4_cell25',
 'pos4_cell26',
 'pos4_cell3',
 'pos4_cell4',
 'pos4_cell8',
 'pos5_cell19',
 'pos6_cell15',
 'pos7_cell1',
 'pos7_cell10',
 'pos7_cell11',
 'pos7_cell12',
 'pos7_cell13',
 'pos7_cell14',
 'pos7_cell15',
 'pos7_cell16',
 'pos7_cell17',
 'pos7_cell18',
 'pos7_cell19',
 'pos7_cell2',
 'pos7_cell20',
 'pos7_cell21',
 'pos7_cell22',
 'pos7_cell23',
 'pos7_cell24',
 'pos7_cell25',
 'pos7_cell26',
 'pos7_cell28',
 'pos7_cell29',
 'pos7_cell3',
 'pos7_cell30',
 'pos7_cell31',
 'pos7_cell32',
 'pos7_cell33',
 'pos7_cell34',
 'pos7_cell35',
 'pos7_cell36',
 'pos7_cell37',
 'pos7_cell38',
 'pos7_cell39',
 'pos7_cell4',
 'pos7_cell40',
 'pos7_cell41',
 'pos7_cell42',
 'pos7_cell43',
 'pos7_cell44',
 'pos7_cell45',
 'pos7_cell46',
 'pos7_cell47',
 'pos7_cell48',
 'pos7_cell49',
 'pos7_cell5',
 'pos7_cell50',
 'pos7_cell51',
 'pos7_cell52',
 'pos7_cell54',
 'pos7_cell55',
 'pos7_cell56',
 'pos7_cell57',
 'pos7_cell58',
 'pos7_cell59',
 'pos7_cell6',
 'pos7_cell60',
 'pos7_cell61',
 'pos7_cell62',
 'pos7_cell64',
 'pos7_cell65',
 'pos7_cell66',
 'pos7_cell67',
 'pos7_cell68',
 'pos7_cell69',
 'pos7_cell7',
 'pos7_cell70',
 'pos7_cell71',
 'pos7_cell72',
 'pos7_cell73',
 'pos7_cell74',
 'pos7_cell8',
 'pos7_cell9',
 'pos8_cell10',
 'pos8_cell11',
 'pos8_cell12',
 'pos8_cell13',
 'pos8_cell16',
 'pos8_cell17',
 'pos8_cell18',
 'pos8_cell19',
 'pos8_cell20',
 'pos8_cell21',
 'pos8_cell22',
 'pos8_cell23',
 'pos8_cell24',
 'pos8_cell25',
 'pos8_cell26',
 'pos8_cell27',
 'pos8_cell28',
 'pos8_cell29',
 'pos8_cell3',
 'pos8_cell30',
 'pos8_cell31',
 'pos8_cell32',
 'pos8_cell33',
 'pos8_cell34',
 'pos8_cell35',
 'pos8_cell36',
 'pos8_cell37',
 'pos8_cell38',
 'pos8_cell39',
 'pos8_cell40',
 'pos8_cell41',
 'pos8_cell42',
 'pos8_cell43',
 'pos8_cell44',
 'pos8_cell45',
 'pos8_cell46',
 'pos8_cell48',
 'pos8_cell49',
 'pos8_cell5',
 'pos8_cell50',
 'pos8_cell51',
 'pos8_cell52',
 'pos8_cell53',
 'pos8_cell54',
 'pos8_cell55',
 'pos8_cell56',
 'pos8_cell6',
 'pos8_cell7',
 'pos8_cell8',
 'pos8_cell9',
 'pos9_cell10',
 'pos9_cell11',
 'pos9_cell12',
 'pos9_cell13',
 'pos9_cell14',
 'pos9_cell15',
 'pos9_cell16',
 'pos9_cell17',
 'pos9_cell18',
 'pos9_cell19',
 'pos9_cell20',
 'pos9_cell21',
 'pos9_cell22',
 'pos9_cell23',
 'pos9_cell24',
 'pos9_cell25',
 'pos9_cell26',
 'pos9_cell27',
 'pos9_cell28',
 'pos9_cell29',
 'pos9_cell3',
 'pos9_cell30',
 'pos9_cell31',
 'pos9_cell32',
 'pos9_cell33',
 'pos9_cell34',
 'pos9_cell35',
 'pos9_cell36',
 'pos9_cell37',
 'pos9_cell38',
 'pos9_cell39',
 'pos9_cell4',
 'pos9_cell40',
 'pos9_cell41',
 'pos9_cell42',
 'pos9_cell43',
 'pos9_cell44',
 'pos9_cell45',
 'pos9_cell46',
 'pos9_cell47',
 'pos9_cell48',
 'pos9_cell49',
 'pos9_cell5',
 'pos9_cell50',
 'pos9_cell51',
 'pos9_cell6',
 'pos9_cell7',
 'pos9_cell8',
 'pos9_cell9'}

In [31]:
tmp_df

,cell_names,c0_s0,c0_s1,c0_s2,c0_s3,c0_s4,c0_s5,c1_s0,c1_s1,c1_s2,...,c64_s2,c64_s3,c64_s4,c64_s5,c65_s0,c65_s1,c65_s2,c65_s3,c65_s4,c65_s5
0,pos0_cell3,0,0,0,0,3,0,2,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,pos0_cell4,0,3,0,3,2,3,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,pos0_cell5,0,2,0,2,2,1,-1,-1,-1,...,-1,-1,-1,-1,2,0,0,3,0,0
3,pos0_cell6,0,0,0,0,0,0,-1,-1,-1,...,-1,-1,-1,-1,0,0,2,0,0,1
4,pos0_cell7,3,1,1,1,3,1,1,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,pos10_cell36,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,3,3,0,-1,-1,-1,-1,-1,-1
383,pos10_cell37,1,3,2,2,1,1,0,0,0,...,-1,-1,-1,-1,0,0,0,0,0,0
384,pos10_cell38,0,3,0,1,3,0,-1,-1,-1,...,2,0,0,0,-1,-1,-1,-1,-1,-1
385,pos10_cell39,0,3,0,2,3,3,-1,-1,-1,...,0,3,0,0,-1,-1,-1,-1,-1,-1
386,pos10_cell40,1,1,3,3,3,1,-1,-1,-1,...,2,0,0,0,0,0,0,3,0,0

In [35]:
# Count the number of -1's in each row
tmp_df['missing_count'] = (tmp_df.iloc[:, 1:] == -1).sum(axis=1)/396

In [38]:
# Extract position from cell names
tmp_df['position'] = tmp_df['cell_names'].str.extract(r'^(pos\d+)_')

# Group by position and sum the counts of -1's
count_by_position = tmp_df.groupby('position')['missing_count'].mean()

print(count_by_position)

position
pos0     0.714417
pos1     0.710055
pos10    0.425758
pos2     0.300000
pos3     0.212121
pos4     0.335082
pos5     0.241342
pos6     0.236185
pos7     0.440034
pos8     0.412424
pos9     0.348485
Name: missing_count, dtype: float64

In [47]:
tmp_df_pos = tmp_df[tmp_df['position'] == "pos2"]

In [48]:
tmp_df_pos

,cell_names,c0_s0,c0_s1,c0_s2,c0_s3,c0_s4,c0_s5,c1_s0,c1_s1,c1_s2,...,c64_s4,c64_s5,c65_s0,c65_s1,c65_s2,c65_s3,c65_s4,c65_s5,missing_count,position
55,pos2_cell1,-1,-1,-1,-1,-1,-1,0,0,0,...,0,0,0,0,0,0,3,0,0.181818,pos2
56,pos2_cell2,0,0,0,0,1,0,-1,-1,-1,...,1,3,0,0,0,0,0,0,0.151515,pos2
57,pos2_cell3,0,0,0,0,0,0,-1,-1,-1,...,0,0,0,0,0,0,0,0,0.212121,pos2
58,pos2_cell4,1,1,0,3,3,3,0,0,0,...,3,0,0,0,0,0,0,0,0.272727,pos2
59,pos2_cell5,0,0,0,3,0,0,-1,-1,-1,...,0,2,-1,-1,-1,-1,-1,-1,0.181818,pos2
60,pos2_cell6,0,1,0,0,1,0,-1,-1,-1,...,1,0,0,0,0,3,0,0,0.318182,pos2
61,pos2_cell7,1,0,2,2,3,0,-1,-1,-1,...,-1,-1,0,0,0,0,0,1,0.272727,pos2
62,pos2_cell8,1,0,2,2,3,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,0.378788,pos2
63,pos2_cell9,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,2,3,2,3,2,1,0.318182,pos2
64,pos2_cell10,1,2,0,3,3,0,0,1,0,...,0,0,-1,-1,-1,-1,-1,-1,0.409091,pos2
65,pos2_cell11,1,0,0,0,0,0,2,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,0.348485,pos2
66,pos2_cell12,0,0,0,0,0,0,1,1,0,...,0,0,2,0,0,0,0,0,0.121212,pos2
67,pos2_cell13,1,1,2,2,3,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,0.378788,pos2
68,pos2_cell14,1,2,2,0,3,0,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,-1,0.348485,pos2
69,pos2_cell15,0,1,0,1,3,3,-1,-1,-1,...,-1,-1,0,0,0,0,0,1,0.530303,pos2
70,pos2_cell16,1,0,0,1,1,0,1,0,0,...,3,0,0,0,0,0,0,0,0.287879,pos2
71,pos2_cell17,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,2,0.393939,pos2
72,pos2_cell18,3,0,0,3,0,0,0,0,0,...,-1,-1,0,0,3,0,0,0,0.348485,pos2
73,pos2_cell19,-1,-1,-1,-1,-1,-1,0,0,0,...,0,0,0,0,2,3,0,1,0.393939,pos2
74,pos2_cell20,1,0,1,2,2,3,2,0,0,...,0,1,0,0,1,0,0,1,0.287879,pos2
75,pos2_cell21,0,1,0,0,3,0,-1,-1,-1,...,0,0,0,0,0,0,3,1,0.348485,pos2
76,pos2_cell22,3,3,0,0,0,0,0,0,0,...,-1,-1,0,0,0,0,0,0,0.348485,pos2
77,pos2_cell23,1,0,0,2,3,0,0,0,0,...,0,0,0,0,0,2,0,0,0.136364,pos2
78,pos2_cell24,1,0,3,3,1,0,0,1,0,...,1,0,-1,-1,-1,-1,-1,-1,0.257576,pos2
79,pos2_cell25,0,3,3,1,1,0,0,0,0,...,-1,-1,0,3,2,3,0,1,0.212121,pos2
80,pos2_cell26,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,2,-1,-1,-1,-1,-1,-1,0.636364,pos2
81,pos2_cell27,3,0,0,3,0,0,-1,-1,-1,...,0,0,2,0,3,0,0,0,0.318182,pos2
82,pos2_cell28,1,1,0,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0.515152,pos2
83,pos2_cell29,1,1,0,2,1,0,-1,-1,-1,...,3,0,0,1,0,0,0,0,0.333333,pos2
84,pos2_cell30,1,0,0,0,1,0,-1,-1,-1,...,3,0,0,2,0,0,0,0,0.136364,pos2
85,pos2_cell31,1,0,0,2,1,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,0.196970,pos2
86,pos2_cell32,1,0,0,2,1,0,1,1,0,...,0,1,1,0,0,2,0,0,0.106061,pos2
87,pos2_cell33,1,0,2,2,1,0,1,0,0,...,1,1,2,0,0,0,0,0,0.257576,pos2
88,pos2_cell34,2,0,0,2,1,3,0,0,0,...,0,0,0,0,3,0,3,1,0.348485,pos2
89,pos2_cell35,1,3,0,2,1,3,0,0,0,...,0,0,0,1,0,0,0,0,0.212121,pos2

In [49]:
(tmp_df_pos.iloc[:, 1:] == -1).sum(axis=1)/396

55    0.181818
56    0.151515
57    0.212121
58    0.272727
59    0.181818
60    0.318182
61    0.272727
62    0.378788
63    0.318182
64    0.409091
65    0.348485
66    0.121212
67    0.378788
68    0.348485
69    0.530303
70    0.287879
71    0.393939
72    0.348485
73    0.393939
74    0.287879
75    0.348485
76    0.348485
77    0.136364
78    0.257576
79    0.212121
80    0.636364
81    0.318182
82    0.515152
83    0.333333
84    0.136364
85    0.196970
86    0.106061
87    0.257576
88    0.348485
89    0.212121
dtype: float64